---
import { type CollectionEntry } from "astro:content";
import { SITE } from "@/config";
import Layout from "@/layouts/Layout.astro";
import Footer from "../sections/Footer.astro";
import NavBar from "../sections/NavBar.astro";
import ProjectItem from "./ProjectItem.astro";

interface Props {
  sortedProjects: CollectionEntry<"projects">[];
  numberPage: number;
  amountPages: number;
}

const { sortedProjects, numberPage, amountPages }: Props = Astro.props;
---

<Layout title="Projects">
  <NavBar />
  <main
    class="gap-12 px-4 max-w-3xl mx-auto leading-8 sm:leading-9 text-base sm:text-lg"
  >
    <header class="mb-8 mt-12 sm:mt-14">
      <h2 class="animation-colors-bg mt-3 mb-2 font-bold text-3xl md:text-4xl">
        PROJECTS
      </h2>
    </header>
    <div class="flex flex-col gap-4">
      {
        sortedProjects.map(
          ({ data }, index) =>
            index >= SITE.projectsPerPage * (numberPage - 1) &&
            index < SITE.projectsPerPage * numberPage && (
              <ProjectItem responsive project={data} />
            )
        )
      }
    </div>
    <nav class="flex gap-4 my-8 mx-auto w-fit">
      <a
        href={`/projects/${numberPage - 1}`}
        class={` ${
          !(1 < numberPage) && "pointer-events-none select-none opacity-60"
        } text-sm font-semibold`}
      >
        Previous page
      </a>
      <a
        href={`/projects/${numberPage + 1}`}
        class={`${
          !(amountPages > numberPage) &&
          "pointer-events-none select-none opacity-60"
        } text-sm font-semibold`}
      >
        Next page
      </a>
    </nav>
  </main>
  <Footer />
</Layout>
