<h2 class="text-base mb-2 font-semibold">ABOUT ME!</h2>
<section class="flex flex-col gap-3 text-gray-300">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem,
    adipisci! Fugiat debitis recusandae dolorem officia similique eveniet
    facilis nisi non quae sapiente laborum minus ratione alias ipsum, doloribus
    at ex esse impedit sit pariatur voluptatem eius, praesentium labore!
  </p>
  <p>
    Eligendi, dolor! Nam, neque. Consequatur cupiditate illum necessitatibus.
    Atque dignissimos, deserunt ullam consequatur officia excepturi molestias
    repellat nisi quae ea et est tempora facere sed. Inventore aliquid velit
    suscipit aliquam porro
  </p>
</section>
