<h2 class="text-base mb-2 font-semibold">ABOUT ME!</h2>
<section class="flex flex-col gap-3 text-gray-300">
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem,
    adipisci! Fugiat debitis recusandae dolorem officia similique eveniet
    facilis nisi non quae sapiente laborum minus ratione alias ipsum, doloribus
    at ex esse impedit sit pariatur voluptatem eius, praesentium labore!
  </p>
  <p>
    Eligendi, dolor! Nam, neque. Consequatur cupiditate illum necessitatibus.
    Atque dignissimos, deserunt ullam consequatur officia excepturi molestias
    repellat nisi quae ea et est tempora facere sed. Inventore aliquid velit
    suscipit aliquam porro
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus fugit
    numquam ut cupiditate assumenda asperiores nisi nobis nemo velit aliquid,
    ipsum veritatis fuga perferendis quae adipisci debitis distinctio culpa odit
    iure repudiandae. Molestiae dicta libero natus voluptas eum earum enim
    minus, omnis consectetur. Minima similique id eos velit eius delectus
    praesentium aperiam sint. Fugit ea commodi et eligendi, labore incidunt
    praesentium iste temporibus aut doloremque est cumque eos corporis corrupti
    placeat molestiae sunt inventore, aperiam minus quibusdam iure rerum!
    Molestias asperiores consequuntur pariatur illo beatae nobis facere rem eos.
  </p>
  <p>
    Quia quidem excepturi itaque hic illum aperiam pariatur molestias suscipit
    nostrum corporis voluptatibus maxime sit adipisci, doloremque nemo non.
    Omnis voluptatem eum sapiente sint, modi dolor nihil nesciunt aspernatur
    magnam, vitae voluptates nulla ad aliquid natus unde dolore alias voluptas
    praesentium! Fugiat magni ex eius nulla labore nobis error commodi omnis ad
    nihil consequatur cupiditate voluptatum esse tempora recusandae, quis
    numquam assumenda dolorem vero voluptates facilis distinctio ab. Voluptatem
    maxime voluptatibus aliquid? Quos voluptas tenetur, nemo ex obcaecati eos
    itaque dolore velit, molestias accusantium placeat nostrum, quibusdam amet
    dicta.
  </p>
  <p>
    Quaerat magni, aperiam nobis est eligendi iusto doloremque impedit,
    sapiente, rerum numquam commodi doloribus saepe nulla distinctio! Voluptas,
    libero earum? Quibusdam rerum consequuntur in id provident, tempora cumque
    laudantium dignissimos possimus, voluptas eos libero cum. Autem, sunt
    facilis! Ratione unde illo magnam, deserunt laudantium aspernatur sapiente
    qui earum dolore dolor et odit, quae quia non maiores illum nemo eveniet?
    Blanditiis, similique. Alias adipisci unde similique iste eligendi quidem
    sit pariatur consequatur mollitia! Accusamus ducimus dolore, consequuntur
    omnis maiores iure! Unde rerum enim corporis expedita optio sint perferendis
    vitae quasi?
  </p>
  <p>
    Autem distinctio eligendi delectus similique, voluptatem reprehenderit
    blanditiis consectetur iusto sint voluptate, inventore deserunt, quia
    temporibus corporis incidunt excepturi ipsa eum facilis! Sint reprehenderit
    possimus quia sequi minima quo eaque voluptates corrupti porro. Voluptate,
    laudantium! Commodi obcaecati, magni labore fugiat, saepe molestias qui
    ipsum exercitationem quis odit aspernatur soluta. Iure, blanditiis ipsa
    obcaecati aliquam laborum quo! Illo aliquid, minus harum est facere nemo
    provident ex quos tempora dolorem, necessitatibus eius in omnis quia iste
    molestiae beatae debitis dicta itaque nihil repellat, vitae maxime. Iste,
    consequuntur! Accusantium magni aliquam magnam?
  </p>
  <p>
    Nihil, accusantium vitae! Aliquid, ipsa assumenda error perspiciatis neque
    repudiandae iure libero eveniet. Ad tempora, deleniti expedita a
    necessitatibus ut impedit hic corporis aliquid voluptatibus, exercitationem
    fugiat adipisci, in ullam fuga deserunt quaerat repellat? Consectetur,
    tenetur ipsam neque cupiditate laborum odio reiciendis in ipsum eaque amet
    voluptatibus quod deserunt soluta, id aliquam beatae totam dolore fugiat
    doloribus! Neque eum minima quia impedit, quos iste et ex consequuntur omnis
    numquam commodi non, dolore asperiores temporibus ut? Necessitatibus minus
    reiciendis, hic, sit sed sapiente ab ratione quas iste maxime eveniet
    architecto.
  </p>
</section>
