<section class="flex flex-col gap-3">
  <h2 class="text-base font-semibold text-white">ABOUT ME!</h2>
  <p class="text-gray-300">
    Lorem ipsum dolor sit amet <span class="text-white font-semibold">
      consectetur</span
    >
     adipisicing elit. Exercitationem, adipisci! Fugiat debitis recusandae
    dolorem officia similique eveniet <span class="text-white font-semibold"
      >facilis</span
    > nisi non quae sapiente laborum minus ratione alias ipsum, doloribus at ex
    esse impedit sit pariatur voluptatem eius, praesentium labore!
  </p>
</section>
