---
import { experiences } from "@data/Experience";
import ExperienceItem from "@widgets/ExperienceItem.astro";
import Line from "@atoms/Line.astro";
---

<section class="flex flex-col gap-4 my-8">
  <Line />
  <h2 class="text-lg font-semibold text-white my-4">MY EXPERIENCE!</h2>
  <ul class="flex flex-col gap-6">
    {
      experiences.map((item) => {
        return <ExperienceItem Experience={item} />;
      })
    }
  </ul>
</section>
