---
import { Icon } from "astro-icon";
import Line from "@/components/atoms/Line.astro";
---

<footer
  class="px-4 max-w-3xl mx-auto text-gray-300 h-24 flex flex-col justify-evenly"
>
  <Line />
  <div class="flex items-center justify-between">
    <!-- Name -->
    <span class="text-sm font-semibold">Sergio Rey - 2023</span>
    <!-- Icons -->
    <div class="flex gap-3 items-center">
      <Icon class="w-4 h-4" name="mdi:rss" />
      <!-- GITHUB -->
      <a
        target="_blank"
        aria-label="Github"
        rel="noopener"
        href="https://github.com/bysergr"
      >
        <Icon class="w-4 h-4" name="bi:github" />
      </a>
      <!-- EMAIL -->
      <a
        target="_blank"
        aria-label="Mail"
        rel="noopener"
        href="mailto:bysergr@gmail.com"
      >
        <Icon class="w-4 h-4" name="ic:baseline-mail" />
      </a>
    </div>
  </div>
</footer>
