---
import { Icon } from "astro-icon";
import Line from "@/components/atoms/Line.astro";
---

<footer
  class="px-4 max-w-3xl mx-auto text-gray-300 h-24 flex flex-col justify-evenly"
>
  <Line />
  <div class="flex items-center justify-between">
    <small class="text-sm font-semibold">Sergio Rey - 2023</small>
    <nav class="flex gap-3 items-center">
      <Icon aria-label="Icon of RSS" class="w-4 h-4" name="mdi:rss" />
      <a
        target="_blank"
        aria-label="Github"
        rel="noopener"
        href="https://github.com/bysergr"
      >
        <Icon aria-label="Icon of GITHUB" class="w-4 h-4" name="bi:github" />
      </a>
      <a
        target="_blank"
        aria-label="Email"
        rel="noopener"
        href="mailto:bysergr@gmail.com"
      >
        <Icon
          aria-label="Icon of EMAIL"
          class="w-4 h-4"
          name="ic:baseline-mail"
        />
      </a>
    </nav>
  </div>
</footer>
