---
import Logo from "@atoms/Logo.astro";
---

<nav class="flex justify-between items-center h-16">
  <div class="flex gap-2">
    <Logo />
    <span class="font-semibold">Sergio Rey</span>
  </div>
  <ul class="flex gap-4">
    <li><a href="#" class="font-medium">Blog</a></li>
    <li><a href="#" class="font-medium">Projects</a></li>
    <li><a href="#" class="font-medium">Resume</a></li>
  </ul>
</nav>
