<section class="flex flex-col gap-3 mt-14">
  <h1
    class="name my-4 animate-move-bg font-semibold text-5xl md:text-6xl bg-clip-text bg-purple-600"
  >
    <span class="text-transparent">BYSERGR</span>
  </h1>
  <p class="text-gray-300">
    Lorem ipsum dolor sit amet <span class="text-white font-semibold">
      consectetur</span
    >
     adipisicing elit. Exercitationem, adipisci! Fugiat debitis recusandae
    dolorem officia similique eveniet <span class="text-white font-semibold"
      >facilis</span
    > nisi non quae sapiente laborum minus ratione alias ipsum, doloribus at ex
    esse impedit sit pariatur voluptatem eius, praesentium labore!
  </p>
</section>
