---
import HL from "@/components/atoms/HigthLight.astro";
---

<header class="flex flex-col gap-3 mt-12 sm:mt-16">
  <h1 class="animation-colors-bg my-3 font-semibold text-5xl sm:text-6xl">
    BYSERGR
  </h1>
  <div class="text-gray-300 text-nowrap">
    <p class="mb-3">
      <HL>Software Developer</HL> with years of experience building and
      maintaining complex systems, developing disruptive projects, using
      different technologies and tools such as <HL>Golang</HL>, <HL>NextJS</HL>,

      <HL>Kubernates</HL>
       and <HL>React Native</HL> among others, writing modern, high-performance
      and robust software.
    </p>
    <p class="mb-3">
      Do you want to hire my services as <HL>Developer</HL>? Send me an
      <a
        aria-label="Send me an email"
        href="mailto:bysergr@gmail.com"
        class="font-semibold hover-link">Email</a
      >.
    </p>
  </div>
</header>
