---
import HL from "@/components/atoms/HigthLight.astro";
---

<header class="flex flex-col gap-3 mt-12 sm:mt-16">
  <h1 class="animation-colors-bg my-3 font-semibold text-5xl sm:text-6xl">
    SERGIO REY
  </h1>
  <div class="text-gray-300 text-now text-nowrap">
    <p>
      <HL>Software Developer</HL> with more than 3 years of experience building
      and maintaining complex systems, developing disruptive projects, using
      different technologies and tools such as <HL>Golang</HL>, <HL>NextJS</HL>
       and <HL>React Native</HL> among others, writing modern, high-performance
      and robust software.
    </p>
    <p>
      Do you want to hire my services as <HL>Developer</HL>? Send me an
      <a
        aria-label="Send me an email"
        href="mailto:bysergr@gmail.com"
        class="font-semibold text-white border-white border-b
    w-fit border-dashed inline-block"
        >EMAIL</a
      >.
    </p>
  </div>
</header>
