---
import PostItem from "@/components/widgets/PostItem.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import { getCollection } from "astro:content";
import { SITE } from "@/config";

const posts = await getCollection("blog");
const sortedPost = getSortedPosts(posts);
---

<section class="flex flex-col gap-6">
  <h2 class="text-xl font-semibold">MY BLOG!</h2>
  <ul class="flex flex-col gap-6">
    {
      sortedPost.map(
        ({ data }, index) =>
          index < SITE.postsIndexPage && <PostItem post={data} />
      )
    }

    <li class="hover:text-white hover:border-white text-gray-300">
      <p>
        <a
          href="/posts"
          class="transition-colors text-lg font-semibold border-b w-fit border-dotted border-gray-400"
        >
          All Posts ➜
        </a>
      </p>
    </li>
  </ul>
</section>
