---
import PostItem from "@/components/widgets/PostItem.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import { getCollection } from "astro:content";
import { SITE } from "@/config";

const posts = await getCollection("blog");
const sortedPost = getSortedPosts(posts);
---

<section class="flex flex-col gap-6">
  <h2 class="text-xl font-semibold">MY BLOG!</h2>
  <ul class="flex flex-col gap-6">
    {
      sortedPost.map(
        ({ data }, index) =>
          index < SITE.postsIndexPage && <PostItem post={data} />
      )
    }

    <li class="text-white flex">
      <span
        aria-label="Icon of arrow"
        class="mr-2 w-7 h-7 text-center font-semibold animation-colors-bg"
      >
        \&#62;
      </span>
      <p>
        <a
          href="/posts"
          class="text-lg font-semibold border-b w-fit border-dashed opacity-90 hover:opacity-100 transition-opacity"
        >
          All Posts
        </a>
      </p>
    </li>
  </ul>
</section>
