---
import { type CollectionEntry, getCollection } from "astro:content";

import { getPageNumbersProjects } from "@/utils/getPageNumbers";
import { slugifyProject } from "@/utils/slugify";
import Project from "@/layouts/ProjectLayout.astro";

export interface Props {
  project: CollectionEntry<"projects">;
}

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  const postResult = projects.map((project) => ({
    params: { slug: slugifyProject(project.data) },
    props: { project },
  }));

  const pagePaths = getPageNumbersProjects(projects.length).map((pageNum) => ({
    params: { slug: String(pageNum) },
  }));

  return [...postResult, ...pagePaths];
}

const { project } = Astro.props;
---

{project ? <Project project={project} /> : <p>no project</p>}
