---
import Layout from "@layouts/Layout.astro";
---

<Layout title="404">
  <section class="w-screen h-screen flex items-center justify-center">
    <a href="/" class="font-bold block text-xl">NOT FOUND</a>
  </section>
</Layout>
