---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="404">
  <section
    class="w-screen h-screen flex flex-col gap-2 items-center justify-center"
  >
    <h1 class="animation-colors-bg text-4xl font-semibold">NOT FOUND</h1>
    <a
      href="/"
      class="transition text-2xl font-semibold text-gray-300 hover:text-white"
      >Home</a
    >
  </section>
</Layout>
