---
import { Experiences } from "@/data/Experience";
import ExperienceItem from "@/components/widgets/ExperienceItem.astro";
import Layout from "@/layouts/Layout.astro";
import NavBar from "@/components/sections/NavBar.astro";
import Home from "@/components/sections/Home.astro";
import Projects from "@/components/sections/Projects.astro";
import Footer from "@/components/sections/Footer.astro";
import Line from "@/components/atoms/Line.astro";
import Posts from "@/components/sections/Posts.astro";
---

<Layout>
  <NavBar />
  <main
    class="flex flex-col gap-12 px-4 max-w-3xl mx-auto leading-8 sm:leading-9 text-base sm:text-lg"
  >
    <Home />
    <Line />
    <section>
      <h2 class="text-xl font-semibold mb-6">MY EXPERIENCE!</h2>
      <ul class="flex flex-col gap-6">
        {
          Experiences.map((item) => {
            return <ExperienceItem Experience={item} />;
          })
        }
      </ul>
    </section>
    <Line />
    <Projects />
    <Line />
    <Posts />
  </main>
  <Footer />
</Layout>
