---
import Icon from "astro-icon";
---

<button
  type="button"
  aria-label="Toggle menu"
  class="ml-1.5 hover:bg-[#1d1f21] rounded-lg text-sm p-2.5 inline-flex items-center transition"
  data-aw-toggle-menu
>
  <Icon name="tabler:menu" class="w-6 h-6" optimize={false} />
</button>
