---
import { Icon } from "astro-icon";
---

<footer>
  <div class="bg-white w-full mb-3 h-[1px]"></div>
  <div class="flex items-center justify-between">
    <span class="text-sm font-semibold">Sergio Rey - 2023</span>
    <div class="flex gap-2 items-center">
      <Icon class="w-4 h-4" name="mdi:rss" />
      <Icon class="w-4 h-4" name="bi:github" />
      <Icon class="w-4 h-4" name="ic:baseline-mail" />
    </div>
  </div>
</footer>
