---
import MetaTags from "@core/MetaTags.astro";
import Scripts from "@core/Scripts.astro";
import Styles from "@core/Styles.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="motion-safe:scroll-smooth">
  <head>
    <MetaTags />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>{`Sergio Rey - ${title}`}</title>
  </head>
  <body
    class="font-display antialiased tracking-tight bg-dark text-white overflow-x-hidden min-h-screen"
  >
    <Scripts />
    <Styles />
    <slot />
  </body>
</html>
