---
import MetaTags from "@/components/core/MetaTags.astro";
import CoreScript from "@/components/core/Scripts.astro";
import CoreStyle from "@/components/core/Styles.astro";
import { SITE } from "@/config";

interface Props {
  title?: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="motion-safe:scroll-smooth">
  <head>
    <MetaTags />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <title>{title ? `${title} | ${SITE.title}` : SITE.title}</title>
    <CoreScript />
    <CoreStyle />
  </head>
  <body
    class="font-display antialiased tracking-tight bg-dark text-white overflow-x-hidden min-h-screen"
  >
    <slot />
  </body>
</html>
